{% load static %}
<link href="{% static '../static/dashboard/material-dashboard.css' %}" rel="stylesheet"/>
<style>
    .w3-ul {
        list-style-type: none;
        padding: 0;
        margin: 0
    }

    .w3-ul li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd
    }

    .w3-ul li:last-child {
        border-bottom: none
    }

    .w3-bar {
        width: 100%;
        overflow: hidden
    }

    .w3-center .w3-bar {
        display: inline-block;
        width: auto
    }

    .w3-bar .w3-bar-item {
        padding: 8px 16px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0
    }

    .w3-bar .w3-button {
        white-space: normal
    }

    .w3-bar-block .w3-bar-item {
        width: 100%;
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0
    }

    .w3-bar-block.w3-center .w3-bar-item {
        text-align: center
    }

    .w3-circle {
        border-radius: 50%
    }

    .w3-card-4 {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .w3-large {
        font-size: 18px !important
    }

    .w3-xlarge {
        font-size: 24px !important
    }

    .w3-right {
        float: right !important
    }

    .w3-button:hover {
        color: #000 !important;
        background-color: #ccc !important
    }

    h2, span, a {
        color: #fff;
        text-align: center;
    }


</style>
<div class="wrapper">
    <div class="main-panel">
        {% include 'links.html' %}
        <link rel="stylesheet" href="/static/dashboard/mvlist.css">
        {% include 'publisher/nav.html' %}
        <div class="w3-container" style="margin-top: 40px;padding-left: 120px;width: 800px">
            <h2 style="color: #81ff0d">Movies List</h2>
            {% for i in page_obj %}
                <ul class="w3-ul w3-card-4">
                    <li class="w3-bar">
                        <a href="{% url 'delete' i.id %}"
                           class="w3-bar-item w3-button w3-white w3-xlarge w3-right btn-danger">Delete</a>
                        <a href="{% url 'pubupdatemovies' i.id %}"
                           class="w3-bar-item w3-button w3-white w3-xlarge w3-right btn-info">Update</a>
                        <img src="{{ i.image.url }}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                        <div class="w3-bar-item">
                            <span class="w3-large">{{ i.name }}</span><br>
                            <span>{{ i.slug }}</span>
                        </div>
                    </li>
                </ul>
            {% endfor %}
            <ul class="pagination justify-content-end mb-0">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link fas fa-angle-left" href="?page={{ page_obj.previous_page_number }}"></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link fas fa-angle-left" href="#"></a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ page_obj.number }}</a>
                        </li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link fas fa-angle-right" href="?page={{ page_obj.next_page_number }}"></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link fas fa-angle-right" href="#"></a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% include 'footer.html' %}
    </div>
</div>