{% include 'nav.html' %}
    {% include 'links.html' %}
<section class="w3l-grids">
                <div class="grids-main py-5">
                    <div class="container-fluid py-lg-3">
                        <div class="headerhny-title">
                            <div class="w3l-title-grids">
                                <div class="headerhny-left">
                                    <h3 class="w3layouts-heading" style="padding-top: 0;margin-bottom: 0">Telugu
                                        <span>Movies</span>
                                    </h3>
                                </div>
                                <div class="headerhny-right text-lg-right">
                                    <h4><a class="show-title" href="#">View all</a></h4>
                                </div>
                            </div>
                        </div>

                        <div class="owl-three owl-carousel owl-theme">
                            {% for i in am %}
                                <div class="item vhny-grid">
                                    <div class="box16 mb-0">
                                        <a href="{% url 'moviedetail' i.id %}">
                                            <figure>
                                                <img class="img-fluid" src="{{ i.image.url }}" alt="">
                                            </figure>
                                            <div class="box-content">
                                                <h3 class="title">{{ i.title }}</h3>
                                                <h4>
                                                    <span class="post">
                                                    <span class="material-icons">schedule</span> {{ i.movie_length }} min
										            </span>
                                                    <span class="post material-icons text-right">favorite_border</span>
                                                </h4>
                                            </div>
                                            <a href="{% url 'moviedetail' i.id %}"><span class="material-icons video-icon" aria-hidden="true">play_arrow</span></a>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </section>
<div class="container-fluid">
    <section class="w3l-grids">
        <div class="grids-main py-5">
            <div class="container-fluid py-lg-3">
                <div class="headerhny-title">
                    <div class="w3l-title-grids">
                        <div class="headerhny-left">
                            <h3 class="hny-title">You may also like...</h3>
                        </div>
                    </div>
                </div>
                <div class="w3l-populohny-grids">
                    {% for i in am %}
                        <div class="item vhny-grid">
                            <div class="box16">
                                <a href="{% url 'moviedetail' i.id %}">
                                    <figure>
                                        <img class="img-fluid" src="{{ i.image.url }}" alt="">
                                    </figure>
                                    <div class="box-content">
                                        <h3 class="title">{{ i.title }}</h3>
                                        <h4> <span class="post"><span class="material-icons">schedule</span> 1 Hr 4min
										</span>
                                            <span class="post fa fa-heart text-right"></span>
                                        </h4>
                                    </div>
                                    <span class="material-icons video-icon" aria-hidden="true">play_arrow</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>


{% include 'footer.html' %}
