{% include 'homepage/nav.html' %}
{% load static %}
{#  <div id="carouselExampleIndicators" class="carousel slide container-fluid" data-bs-ride="carousel">#}
{#    <div class="carousel-indicators">#}
{#      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"#}
{#        aria-current="true" aria-label="Slide 1"></button>#}
{#      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"#}
{#        aria-label="Slide 2"></button>#}
{#      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"#}
{#        aria-label="Slide 3"></button>#}
{#      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"#}
{#        aria-label="Slide 4"></button>#}
{#      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"#}
{#        aria-label="Slide 0"></button>#}
{#    </div>#}
{#    <div class="carousel-inner">#}
{#      <div class="carousel-item active">#}
{#        <img src="{% static 'img/1.jpg' %}" width="460" height="500" class="d-block w-100" alt="...">#}
{#      </div>#}
{#      <div class="carousel-item">#}
{#        <img src="{% static 'img/2.jpg' %}" width="460" height="500" class="d-block w-100" alt="...">#}
{#      </div>#}
{#      <div class="carousel-item">#}
{#        <img src="{% static 'img/3.jpg' %}" width="460" height="500" class="d-block w-100" alt="...">#}
{#      </div>#}
{#      <div class="carousel-item">#}
{#        <img src="{% static 'img/4.jpg' %}" width="460" height="500" class="d-block w-100" alt="...">#}
{#      </div>#}
{#      <div class="carousel-item">#}
{#        <img src="{% static 'img/5.jpg' %}" width="460" height="500" class="d-block w-100" alt="...">#}
{#      </div>#}
{#    </div>#}
{#    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"#}
{#      data-bs-slide="prev">#}
{#      <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#      <span class="visually-hidden">Previous</span>#}
{#    </button>#}
{#    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"#}
{#      data-bs-slide="next">#}
{#      <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#      <span class="visually-hidden">Next</span>#}
{#    </button>#}
{#  </div>#}


    <section class="w3l-main-sliders position-relative" id="home">
		<div class="companies20-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<h3>Uppena Full Movie</h3>
								<p>Uppena is a 2021 Indian Telugu-language romantic drama <span class="over-para"> film written and directed by debutant Buchi Babu Sana.</span></p>
								<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Now</h6>
								</a>
								<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
								<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://www.youtube.com/embed/fB3RcpbLvco" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info  banner-view banner-top1 bg bg2">
							<div class="banner-info">
								<h3>Master Full Movie</h3>
								<p>Master is a 2021 Indian Tamil-language action thriller <span class="over-para"> film written and directed by Lokesh Kanagaraj.</span></p>
								<a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Now</h6>
								</a>
								<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
								<div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://www.youtube.com/embed/Nvpx77eOJrU" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<h3>Radhe Full Movie</h3>
								<p>Radhe: Your Most Wanted Bhai is a 2021 Indian <span class="over-para"> Hindi-language crime action film directed by Prabhu Deva.</span></p>
								<a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Now</h6>
								</a>
								<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
								<div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://www.youtube.com/embed/n5MVzhwupBY" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<h3>Shaadi Mubarak Full Movie</h3>
								<p>Shaadi Mubarak A love tale of a non-expressive couple who <span class="over-para"> happens to fall in love with each other.</span></p>
								<a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Now</h6>
								</a>
								<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
								<div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://www.youtube.com/embed/KVWjRNrC64A" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</section>


<div>
  <div class="album py-5">
    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
          <div style="background-image: url({% static 'img/tolly.jpg' %});" class="image-grid-cover">
            <a href="#" class="image-grid-clickbox"></a>
            <a href="#" class="cover-wrapper">Tollywood Movies</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
          <div style="background-image: url({% static 'img/bolly.jpg' %});"
            class="entry-cover image-grid-cover has-image">
            <a href="#" class="image-grid-clickbox"></a>
            <a href="#" class="cover-wrapper">Bollywood Movies</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
          <div style="background-image: url({% static 'img/holly.jpg' %});"
            class="entry-cover image-grid-cover has-image">
            <a href="#" class="image-grid-clickbox"></a>
            <a href="#" class="cover-wrapper">Hollywood Movies</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
          <div style="background-image: url({% static 'img/c1.jpg' %});" class="entry-cover image-grid-cover has-image">
            <a href="#" class="image-grid-clickbox"></a>
            <a href="#" class="cover-wrapper">Horror Movies</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
          <div style="background-image: url({% static 'img/c2.jpg' %});" class="entry-cover image-grid-cover has-image">
            <a href="#" class="image-grid-clickbox"></a>
            <a href="#" class="cover-wrapper">Action Movies</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
          <div style="background-image: url({% static 'img/c3.jpg' %});" class="entry-cover image-grid-cover has-image">
            <a href="#" class="image-grid-clickbox"></a>
            <a href="#" class="cover-wrapper">Sci-fi Movies</a>
          </div>
        </div>
</div>



<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container-fluid py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">Tollywood Movies</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="genre.html">Show all</a></h4>
						</div>
					</div>
				</div>

				<div class="owl-three owl-carousel owl-theme">
                    {% for i in tm %}
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#">
								<figure>
									<img class="img-fluid" src="{{ i.image }}" alt="">
								</figure>
								<div class="box-content">
									<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min
										</span>
										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
						<h3> <a class="title-gd" href="#">{{ i.name }}</a></h3>
						<p>{{ i.slug }}</p>
						<p>{{ i.discription }}</p>
						<div class="button-center text-center mt-4">
							<a href="#" class="btn watch-button">Watch now</a>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>

		</div>
	</section>

<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container-fluid py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">Bollywood Movies</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="genre.html">Show all</a></h4>
						</div>
					</div>
				</div>

				<div class="owl-three owl-carousel owl-theme">
                    {% for i in bm %}
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#">
								<figure>
									<img class="img-fluid" src="{{ i.image }}" alt="">
								</figure>
								<div class="box-content">
									<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min
										</span>
										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
						<h3> <a class="title-gd" href="#">{{ i.name }}</a></h3>
						<p>{{ i.slug }}</p>
						<p>{{ i.discription }}</p>
						<div class="button-center text-center mt-4">
							<a href="#" class="btn watch-button">Watch now</a>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>

		</div>
	</section>

<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container-fluid py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">Hollywood Movies</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="genre.html">Show all</a></h4>
						</div>
					</div>
				</div>

				<div class="owl-three owl-carousel owl-theme">
                    {% for i in hm %}
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#">
								<figure>
									<img class="img-fluid" src="{{ i.image }}" alt="">
								</figure>
								<div class="box-content">
									<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min
										</span>
										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
						<h3> <a class="title-gd" href="#">{{ i.name }}</a></h3>
						<p>{{ i.slug }}</p>
						<p>{{ i.discription }}</p>
						<div class="button-center text-center mt-4">
							<a href="#" class="btn watch-button">Watch now</a>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>

		</div>
	</section>

{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a1.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a2.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a3.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#          <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a16.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a4.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a5.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a6.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a7.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a8.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a9.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a10.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a11.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a12.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a13.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a14.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-3">#}
{#          <div class="card mb-4 box-shadow">#}
{#            <img src="{% static 'img/a15.jpg' %}" width="200" height="350" class="d-block w-100" alt="...">#}
{#            <div class="card-body">#}
{#              <p class="card-text"></p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Play</button>#}
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>#}
{#                </div>#}
{#                <small class="text-muted">9 mins</small>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
      </div>
    </div>
  </div>

  <div class="tray-carousel">
    <div class="container">
      <h2 class="tray-title"><a href="#" class="tray-link" style="color: #ffff" target="">Scroll Up<i class="right-arrow slide-in-left"></i></a></h2>
    </div>
  </div>
{% include 'footer.html' %}