{% include 'nav.html' %}


	<!-- Events -->
	<div class="events" id="events" style="background-color: #192133;">
		<div class="container-fluid">
			<h3 class="w3layouts-heading">Latest
				<span>Shows</span>
			</h3>
			<div class="events-row">
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="../static/img/shows/biggboss.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Bigg Boss S14</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 10:00 july 14 2021
									</p>
								</div>
								<p class="paragraph-w3l">Indias Biggest Reality Show. Hosted By Salman Khan</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 10</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 20</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="thumbnail events-wthree">
						<img src="../static/img/shows/sv.jpeg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Splitsvilla</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 23:30 feb 02 2021
									</p>
								</div>
								<p class="paragraph-w3l">Mtv splitsvilla Show Hosted By Sunny leone</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 15</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 10</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="../static/img/shows/dd.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">Dance Deewane</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 14:30 jan 26 2018
									</p>
								</div>
								<p class="paragraph-w3l">Dance Deewane, three generation dance show. judge madhuri dixit</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 12</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 25</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="thumbnail events-wthree">
						<img src="../static/img/shows/kk.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">khatron ke khiladi 11</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 11:00 jan 02 2018
									</p>
								</div>
								<p class="paragraph-w3l">khatron ke khiladi 11 host by rohit shetty</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 20</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 30</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="../static/img/shows/mtv.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">MTV Roadies - Season 18</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 23:15 jan 28 2018
									</p>
								</div>
								<p class="paragraph-w3l">MTV Roadies - Season 18</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 10</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 12</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="thumbnail events-wthree">
						<img src="../static/img/shows/kkk.jpg" class="img-responsive" alt="">
						<div class="social-icons events-icons right-w3-agile1-sectn fotw3ls3">
							<div class="caption">
								<h4>
									<a href="#" data-toggle="modal" data-target="#myModal1">khatra khatra khatra</a>
								</h4>
								<div class="event-top">
									<p>
										<span class="fa fa-calendar" aria-hidden="true"></span> 20:00 feb 10 2018
									</p>
								</div>
								<p class="paragraph-w3l">khatra khatra khatra commedy show</p>
							</div>
							<div class="event-bottom">
								<ul>
									<li>
										<a href="#">
											<span class="fa fa-thumbs-o-up" aria-hidden="true"></span> 30</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comment" aria-hidden="true"></span> 15</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-facebook"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>
	<!-- //Events -->
    <div class="about" id="about">
		<div class="banner_bottom_w3-agile_grids">
			<div class="container-fluid">
				<h3 class="w3layouts-heading">About
					<span>Us</span>
				</h3>
				<div class="banner_bottom_right_grids">
					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab1">
							<div class="w3-agile_text_box">
								<span class="fa fa-bullhorn" aria-hidden="true"></span>
								<h3>Corporate Events</h3>
								<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adip.</p>
							</div>
							<div class="mask">
								<img src="../static/img/shows/a1.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab2">
							<div class="w3-agile_text_box">
								<span class="fa fa-cubes" aria-hidden="true"></span>
								<h3>Branded Events</h3>
								<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adip.</p>
							</div>
							<div class="mask">
								<img src="../static/img/shows/a2.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>

					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab3">
							<div class="w3-agile_text_box">
								<span class="fa fa-camera-retro" aria-hidden="true"></span>
								<h3>Commercial Shoots</h3>
								<p class="paragraph-w3l">Lorem ipsum dolor sit amet, consectetur adip.</p>
							</div>
							<div class="mask">
								<img src="../static/img/shows/a3.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- about-bottom-->
		<div class="services-inner-agileits-w3layouts">
			<div class="container-fluid">
				<div class="col-md-12">
					<ul id="flexiselDemo1">
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="../static/img/shows/a1.jpg" alt=" " />
								</div>
								<div class="flex-info ">
									<h4>900
										<span>Happy Clients</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="../static/img/shows/a2.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info1">
									<h4>250
										<span>Events</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="../static/img/shows/a3.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info2">
									<h4>25
										<span>Singers</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="../static/img/shows/a2.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info3">
									<h4>40
										<span>Musicians</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
					</ul>

				</div>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	<!-- team -->
	<div class="team" id="team">
		<!-- title-with-image -->
		<div class="title-img white-img">
			<div class="container-fluid">
				<h3 class="bold-title black-title">Our Team</h3>
			</div>
		</div>
		<!--// title-with-image -->
		<div class="container-fluid">
			<div class="agileits-w3layouts-team-grids">
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="../static/img/shows/t1.jpg" alt="">
						<div class="team-caption">
							<h4>Amanda Stuard</h4>
							<p>Singer</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="../static/img/shows/t2.jpg" alt="">
						<div class="team-caption">
							<h4>Mike Brendon</h4>
							<p>Musician</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="../static/img/shows/t3.jpg" alt="">
						<div class="team-caption">
							<h4>Mark Wilson</h4>
							<p>Musician</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="../static/img/shows/t4.jpg" alt="">
						<div class="team-caption">
							<h4>Steven Wright</h4>
							<p>Singer</p>
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- gallery -->
	<div class="gallery" id="gallery">
		<div class="container-fluid">
			<h3 class="w3layouts-heading">Our
				<span>Gallery</span>
			</h3>
		</div>
		<div class="w3layouts-grids gal-agileits-w3layouts">
			<div id="jzBox" class="jzBox">
				<div id="jzBoxNextBig"></div>
				<div id="jzBoxPrevBig"></div>
				<img src="#" id="jzBoxTargetImg" alt="" />
				<div id="jzBoxBottom">
					<div id="jzBoxTitle"></div>
					<div id="jzBoxMoreItems">
						<div id="jzBoxCounter"></div>
						<i class="arrow-left" id="jzBoxPrev"></i>
						<i class="arrow-right" id="jzBoxNext"></i>
					</div>
					<i class="close" id="jzBoxClose"></i>
				</div>
			</div>
			<div class="gallery-grids-row">
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g1.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g1.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g2.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g2.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g3.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g3.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g4.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g4.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g5.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g5.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g6.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g6.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g7.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g7.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="../static/img/shows/g8.jpg" class="jzBoxLink item-hover"
							title="Lorem ipsum dolor sit amet.">
							<img src="../static/img/shows/g8.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
								<p>Full View</p>
							</div>
						</a>
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //gallery -->
	<br>

{% include 'footer.html' %}