{% include 'nav.html' %}
{% load static %}

<div class="container-fluid" style="margin-top: 70px;margin-left: 0">
    <form id="form" method="post" action="/dashboardlogin/">
        {% csrf_token %}
        <h1>Admin Pannel</h1>
        <div id="inset">
            <p>
                <label id="label" for="email">USERNAME</label>
                <input id="input" type="text" name="adminusername">
            </p>
            <p>
                <label id="label" for="password">PASSWORD</label>
                <input id="input" type="password" name="adminpassword">
            </p>
        </div>
        <p id="p-container">
            <a href="#small-dialog01" class="popup-with-zoom-anim play-view1">Already had Account</a>
            <input id="input" type="submit" name="go" value="Log in">
        </p>
        <p id="p2-container">
            <a href="#small-dialog02" class="popup-with-zoom-anim play-view1">Not a member yet?</a>
        </p>
    </form>
</div>


{% include 'footer.html' %}