{% load static %}
<link href="{% static '../static/dashboard/material-dashboard.css' %}" rel="stylesheet"/>
<div class="wrapper">
    <div class="main-panel">
        {% include 'dashboard/nav.html' %}
        <div>
            <form id="form" method="post">
                {% csrf_token %}
                <h1 style="color: #fff">Update User</h1>
                <div id="inset">
                    <div id="label input">
                        {{ form1.as_p }}
                        {{ form2.as_p }}
                    </div>
                </div>
                <p id="p-container">
                    <a href="/usersmodify">Back to List</a>
                    <input id="input" type="submit" name="go" value="Update">
                </p><br>
            </form>
        </div>
        {% include 'dashboard/footer.html' %}
    </div>
</div>


